.react-audio-tool {
  background: red;
  box-sizing: border-box;
  padding: 5px;
  width: auto;
}

.react-audio-tool .audio-block {
  background: lightgray;
  margin: 5px;
  width: calc(100% - 10px);
  height: 100px;
  position: relative;
}

.react-audio-tool .audio-block .waveform-container {
  background: blue;
  overflow: hidden;
}

.react-audio-tool .audio-block .waveform-container canvas {
  transform: inherit;
}
